.container {
  max-width: 100%;
  overflow-x: auto;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding:6px;
  text-align: center;
}

#year-header th {
  text-align: center;
}

#year-header .arrow {
  cursor: pointer;
  font-size: 24px;
}

#month-header .arrow {
  cursor: pointer;
  font-size: 24px;
}

.left-arrow {
  float: left;
}

.right-arrow {
  float: right;
  
}

.leave-box {
  padding: 2px 3px;
  margin: 2px;
  flex-wrap: wrap;
  border-radius: 2px;
}
.PL {
  background-color: #a8d0e6; /* Light blue */
}

.CL {
  background-color: #c8e6c9; /* Light green */
}

.OH {
  background-color: #fff9c4; /* Light yellow */
}

.SL {
  background-color: #ffe0b2; /* Light orange */
}

.WH {
  background-color: #d1c4e9; /* Light purple */
}

.FT {
  background-color: #ffcdd2; /* Light red */
}
